body {
    height: 100vh;
    background: linear-gradient(to bottom, 
    #009688   15%, 
    #d8dbd6   15%, 
    #d8dbd6   100%
    );
}

#root .container {
    height: 90%;
}

/* Utilities */

.bg-light-gray {
    background-color: #ebe9eb;
}

.gray {
    color: #b1b1b1;
}

.gray-text {
    color: #567fa9;
}


/* Sidebar */
/* User Info */
.media {
    height: 70px;
}

.avatar-img {
    border-radius: 50%;
    height: 50px;
}

/* Notifications Alter */
#notifications-alert {
    height: 70px;
    background-color: lightblue;
}

#notifications-icon{
    padding: 15px;
    border-radius: 50%;
    background-color: #fff;
    color: #8edafc;
}

.options {
    width: 105px;
}

/* Search */
#search {
    height: 50px;
    background-color: #fbfafb;
    position: relative;
}

#search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

#search-input {
    width: 100%;
    margin: 5px;
    border: 0;
    border-radius: 10px;
    height: 35px;
    padding-left: 30px;
}

/* Contact List */
.active-chat {
    background-color: #ecebec;
}

.contact {
    border-top: 0.5px solid #f2f0f2;
}

.contact:hover {
    background-color: #dddddd;
}



/* Chat */
#chat {
    background-image: url('../img/mine.jpg');
}

/* Messages */
.message-container {
    display: flex;
}
.message-container.sent {
    justify-content: flex-end;
}

.message-container.received {
    justify-content: flex-start;
}

.message-container.sent .message {
    background-color: #d7f9bc;
}

.message-container.received .message {
    background-color: #fffeff;
}

.message-container .message p {
    margin-bottom: 0;
}

.message-container .message time {
    display: block;
    text-align: right;
    font-size: 11px;
    color: #c9c1ba;
}



/* Message Input Text*/
#footer {
    background-color: #f5eeeb;
}
#message-input {
    width: 100%;
    border: 0;
    padding: 10px;
    border-radius: 15px;
}


.h-calc-262 {
    height: calc(100vh - 262px);
}

.h-calc-212 {
    height: calc(100vh - 212px);
}