.gradient {
    height: 100vh;
    background: linear-gradient(to bottom, 
        #009688   15%, 
        #d8dbd6   15%, 
        #d8dbd6   100%
    );
  }

#content {
    background-color: white;
    height: 95vh;
}

.h-95vh {
    background-color: white;
    height: 95vh;
}

.yellow {
    background-color: yellow;
    height: 95vh;
}

/* Utilities */
.purple {
    background-color: purple;
}

.light-gray {
    background-color: #eaeaea;
}

.light-blue {
    background-color: #8edafc;
}

.green {
    background-color: green;
}

.icon-gray {
    color: #b1b1b1;
}

.gray-text {
    color: #567fa9;
}

.height-70 {
    height: 70px;
}


#notifications-icon{
    padding: 15px;
    border-radius: 50%;
    background-color: #fff;
    color: #8edafc;
}

.avatar-img {
    border-radius: 50%;
    height: 50px;
}

#search-chat {
    width: 100%;
    margin: 5px;
}

.contact {
    border-top: 1px solid lightgray;
}

.active-chat {
    background-color: #e9ebeb;
}